div.sidebar {
    display: inline-block;
    height: 100%;
    width: 30%;
    float: left;
}

div.moviecontrols {
    margin: 15px;
    margin-bottom: 25px;
}

#movie-controller-block {
    padding: 0 15px;
}

.movie-block-element {
    margin: 0 5px;
}