div.sidebar {

}

div.moviecontrols {

}

#movie-controller-block {
    padding: 0 15px;
}

.movie-block-element {
    margin: 0 5px;
}

#start-data {
    padding-right: 0;
}

#end-date {
    padding-left: 0;
}